<footer class="footer footer-center p-10 bg-base-300 text-base-content rounded">
    <nav class="grid grid-flow-col gap-4">
        <a routerLink="/movie-top-100" class="link link-hover">Top 100 Movies</a>
        <a routerLink="/movie-most-popular" class="link link-hover">Most populars Movies</a>
        <a routerLink="/movie-upcoming" class="link link-hover">Upcoming Movies</a>
        <a routerLink="/tv-top-100" class="link link-hover">Top 100 TV Shows</a>
        <a routerLink="/tv-most-popular" class="link link-hover">Most populars TV Shows</a>
        <a routerLink="/actors" class="link link-hover">Actors</a>
        <a routerLink="/about" class="link link-hover">About us</a>
    </nav>
    <aside>
        <p>Copyright © 2023 - Using TMDB API</p>
    </aside>
</footer>