<div class="bg-base-200 min-h-screen flex flex-col items-center justify-center">
    <h1 class="mb-8 text-5xl font-bold">Our Team</h1>
    <div class="flex space-x-6">
        <div class="card w-96 bg-base-300 shadow-xl">
            <figure>
                <img src="../../assets/georgia.jpg" alt="Georgia" class="object-cover w-full h-96" />
            </figure>
            <a href="https://github.com/georgiaclemencon" target="_blank">
                <div class="card-body">
                    <h2 class="card-title">Georgia Clemençon</h2>
                </div>
            </a>
        </div>
        <div class="card w-96 bg-base-300 shadow-xl">
            <figure>
                <img src="../../assets/baptiste.jpg" alt="Baptiste" class="object-cover w-full h-96" />
            </figure>
            <a href="https://github.com/Brazok" target="_blank">
                <div class="card-body">
                    <h2 class="card-title">Baptiste Devaux</h2>
                </div>
            </a>
        </div>
        <div class="card w-96 bg-base-300 shadow-xl">
            <figure>
                <img src="../../assets/esteban.jpg" alt="Esteban" class="object-cover w-full h-96" />
            </figure>
            <a href="https://github.com/EstebanbanC" target="_blank">
                <div class="card-body">
                    <h2 class="card-title">Esteban Crispel</h2>
                </div>
            </a>
        </div>
    </div>
</div>