<div class="bg-base-200 z-20">
    <h1 class="text-5xl font-bold pt-6 mx-10">Movies</h1>
    <div class="w-auto border-2 border-base-300 mx-10">
        <div class="flex flex-wrap justify-evenly gap-10 pt-3 pb-6">
        <div *ngFor="let movie of movieList" class="card w-96 bg-base-300 shadow-lg">
            <figure><img [src]="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2'+movie.poster_path"
                    alt="Poster du film" /></figure>
            <div class="card-body flex flex-col">
                <div class="flex items-center justify-between mb-2">
                    <h2 class="card-title">{{movie.title}}</h2>
                    <div class="rating rating-sm rating-half">
                        <input type="radio" name="rating-4" class="rating-hidden cursor-default" />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-1 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-2 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-1 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-2 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-1 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-2 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-1 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-2 cursor-default" checked />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-1 cursor-default" disabled />
                        <input type="radio" name="rating-4"
                            class="bg-accent mask mask-star-2 mask-half-2 cursor-default" disabled />
                    </div>
                </div>
                <h5 class="opacity-80 text-sm">{{movie.release_date}}</h5>
                <p>{{movie.overview}}</p>
                <div class="card-actions justify-center pt-3">
                    <button class="btn btn-primary w-full text-lg">See More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-10 divider pb-3">More movies</div>
    <div class="join mx-10 pb-6 flex flex-row">
        <button class="btn btn-outline btn-neutral join-item basis-1/3">Top 100</button>
        <button class="btn btn-outline btn-neutral join-item basis-1/3">Most Populars</button>
        <button class="btn btn-outline btn-neutral join-item basis-1/3">Upcoming</button>
    </div>
</div>