<div *ngIf="!movie" class="min-h-screen flex justify-center align-item">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
  
  <div *ngIf="movie" class="bg-base-content flex justify-center"
    [style]="'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://www.themoviedb.org/t/p/w1920_and_h800_bestv2' + movie.backdrop_path +');height: 66.67vh;'">
    <div class="flex pt-14">
      <div class="p-8 flex justify-center">
        <div class="w-96 p-8 flex justify-center">
          <img [src]="
      'https://www.themoviedb.org/t/p/w600_and_h900_bestv2' +
      movie.poster_path
    " class="object-cover rounded-box" 
    alt="Poster"
    />
        </div>
        <div class="w-2/3 p-8 mr-8">
          <div class="flex items-center">
            <h1 class="text-4xl font-bold text-gray-100 py-6">{{ movie.title }}</h1>
            <app-star [note]="movie.vote_average" size="rating-md pl-3"></app-star>
          </div>
          <h5 class="opacity-80 text-sm text-gray-100 pb-3">
            {{ movie.release_date }}
          </h5>
          <p class="text-gray-100">
            {{ movie.overview }}
          </p>
        </div>
      </div>
    </div>
  
  </div>
  <div *ngIf="actors" class="carousel carousel-center max-w-full min-w-full p-4 space-x-4 bg-neutral">
    <div *ngFor="let actor of actors" class="carousel-item">
      <img *ngIf="actor.profile_path" [routerLink]="'/actor-details/' + actor.id"
        [src]="'https://www.themoviedb.org/t/p/w470_and_h470_face/' + actor.profile_path" class=" w-56 rounded-box" alt="Actor face" />
    </div>