<div *ngIf="!movieList" class="min-h-screen flex justify-center align-item">
  <span class="loading loading-spinner loading-lg"></span>
</div>
<div class="bg-base-100 z-20 pt-11" *ngIf="movieList">
  <h1 class="text-5xl font-bold pt-8 pb-4 mx-10">Most popular movies</h1>
  <div class="flex flex-wrap justify-evenly gap-10 pt-3 pb-6">
      <div *ngFor="let movie of movieList" class="card w-96 bg-base-300 shadow-lg">
          <figure>
              <img [src]="
          'https://www.themoviedb.org/t/p/w1920_and_h800_bestv2' +
          movie.backdrop_path
        " alt="Poster du film" />
          </figure>
          <div class="card-body flex flex-col">
              <div class="flex items-center justify-between mb-2">
                  <h2 class="card-title">{{ movie.title }}</h2>
                  <app-star [note]="movie.vote_average" size="rating-sm"></app-star>
              </div>
              <h5 class="opacity-80 text-sm">{{ movie.release_date }}</h5>
              <p>{{ truncateDescription(movie.overview) }}</p>
              <div class="card-actions justify-center pt-3">
                  <a class="btn btn-primary w-full text-lg" [routerLink]="'/movie/' + movie.id">See More</a>
              </div>
          </div>
      </div>
  </div>
  <app-movie-footer></app-movie-footer>
</div>