<div class="bg-base-content flex justify-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/poster5.png'); height: 66.67vh;">
    <div class="flex pt-14">
        <div class="w-1/3 p-8 flex justify-center">
            <img src="../../assets/hero.png" alt="Affiche du film" class="object-cover">
        </div>
        <div class="w-2/3 p-8 mr-8">
            <div class=" flex items-center">
                <h1 class="text-4xl font-bold text-gray-100 py-6">Wonka</h1>
                <div class="rating rating-md rating-half pl-3">
                    <input type="radio" name="rating-0" class="rating-hidden cursor-default" />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-1 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-2 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-1 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-2 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-1 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-2 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-1 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-2 cursor-default"
                        disabled />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-1 cursor-default"
                        checked />
                    <input type="radio" name="rating-0" class="bg-accent mask mask-star-2 mask-half-2 cursor-default"
                        disabled />
                </div>
            </div>
            <h5 class="opacity-80 text-sm text-gray-100 pb-3">2023-12-06</h5>
            <p class="text-gray-100">Basé sur le personnage extraordinaire au centre de Charlie et la chocolaterie, le livre pour enfants le
                plus emblématique de Roald Dahl est l'un des livres pour enfants les plus vendus de tous les temps,
                'Wonka' raconte l'histoire merveilleuse de la façon dont le plus grand inventeur, magicien et
                chocolatier est devenu le bien-aimé Willy Wonka que nous connaissons aujourd'hui.</p>
        </div>
    </div>
</div>