
<div *ngIf="movie"
    class="bg-base-content flex justify-center"
    [style]="
        '
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(https://www.themoviedb.org/t/p/w1920_and_h800_bestv2' +
                        movie.backdrop_path +
        ');height: 66.67vh;'
    "
>
  <div class="flex pt-14">
    <div class="w-1/3 p-8 flex justify-center">
      <img
        [src]="
          'https://www.themoviedb.org/t/p/w600_and_h900_bestv2' +
          movie.poster_path
        "
        alt="Affiche du film"
        class="object-cover"
      />
    </div>
    <div class="w-2/3 p-8 mr-8">
      <div class="flex items-center">
        <h1 class="text-4xl font-bold text-gray-100 py-6">{{ movie.title }}</h1>
        <app-star [note]="movie.vote_average" size="rating-md pl-3"></app-star>
      </div>
      <h5 class="opacity-80 text-sm text-gray-100 pb-3">
        {{ movie.release_date }}
      </h5>
      <p class="text-gray-100">
        {{ movie.overview }}
      </p>
    </div>
  </div>
</div>
